PORT=5000
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Times
POSTGRES_DB=georeferrals
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Mapbox API Key for Geocoding and Routing
MAPBOX_ACCESS_TOKEN=your_mapbox_access_token_here
[]